# Application
ENV=development
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Logging
LOG_LEVEL=INFO
LOG_FORMAT=%(asctime)s - %(name)s - %(levelname)s - %(message)s
LOG_DATE_FORMAT=%Y-%m-%d %H:%M:%S
LOG_FILE_PATH=logs/app.log

# JWT
JWT_SECRET_KEY=your-secret-key-here
JWT_ALGORITHM=HS256
JWT_ACCESS_TIME=900
JWT_EXPIRE_TIME=604800

# Database
AUTO_CREATE_TABLES=true
POSTGRES_GRAPH_URL=postgresql://postgres:password@localhost:5432/text_forge
POSTGRES_DB_URL=postgresql+asyncpg://postgres:password@localhost:5432/text_forge

# Email
EMAIL_SERVER=smtp.example.com
EMAIL_PORT=465
EMAIL_USERNAME=your-email@example.com
EMAIL_PASSWORD=your-email-password
EMAIL_FROM=your-email@example.com
EMAIL_START_TLS=false
EMAIL_USE_TSL=true
EMAIL_TIME_OUT=30

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# Static
STATIC_URL=static
